body {
  color: #CDDAD1;
  background: linear-gradient(to left top, #06133C, #061000) fixed;
  font-family: 'Ubuntu', sans-serif;
}

/*img {*/
/*  max-width:70%;*/
/*  max-height:70%;*/
/*  height: auto;*/
/*  padding: 50px;*/
/*  border-radius: 15px;*/
/*}*/

.parallax {
  /* The image used */
  background-image: url('/static/milky-way.jpg');

  /* Set a specific height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style:none;
  margin: -20px;
  padding: -10px;
}