* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  padding-left: 20px;
  padding-right: 20px;
}

#artwork--container {
  background-color: black;
  padding: 35px;
  border-radius: 15px;
  height: 670px;
}


#artwork {
  padding-left: 30px;
  padding-right: 30px;
}

.subcolumn {
  background-color: black;
  padding: 35px;
  border-radius: 25px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#portfolio--image-container {
  background: none !important;
}

#portfolio--image {
  max-width:70%;
  max-height:70%;
  height: auto;
  padding: 10px;
  border-radius: 200px;
  margin: auto;
  background-color: #4d0000;
}

#artwork--image {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: auto;
}

.artwork--image--inner-1 {
  background-image: linear-gradient(to right, #4d0000, #330000);
  border-top: 15px solid #4d0000;
  border-left: 15px solid #4d0000;
  border-bottom: 15px solid #390000;
  border-right: 15px solid #330000;
}

.artwork--image--inner-2 {
  background-color: #404040;
  max-width:100%;
  max-height:100%;
  height: auto;
  padding: 12px;
  /*border: 10px solid #4d0000;*/
  border-radius: 15px;
  margin: auto;
}

#contact--image--inner {
  max-width:70%;
  max-height:70%;
  height: auto;
  padding: 50px;
  border-radius: 200px;
  margin: auto;
}

h3 {
  text-align: left;
}

h1 {
  text-align: center;
  background-color: #4d0000;
  border-radius: 15px;
}

ul {
  text-align: left;
  padding: 0;
  list-style-type: none;
  /*margin-top: -10px;*/
  font-size: smaller;
}

p {
  font-size: 13px;
  text-indent: 15px;
  text-align: justify;
  text-justify: inter-word;
}

/*.external_link:hover {*/
/*  color: #4d0000;*/
/*  background-color: #CDDAD1;*/
/*  border-radius: 5px;*/
/*  padding: 5px;*/
/*  font: bold;*/
/*  transition: 0.3s;*/
/*  opacity: .9;*/
/*}*/

.external_link, #projects--icardio-title, #projects--intelsat-title, #projects--airplant-title {
  position: relative;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: #94A99B;
  box-shadow: 0 6px #7F9586;
  border-radius: 15px;
  padding: 5px;
  font: bold;
  margin-bottom: 25px;
  background-color: #CDDAD1;
  color: #4d0000;
  z-index:20 !important;
}

.external_link:hover, #projects--icardio-title:hover, #projects--intelsat-title:hover, #projects--airplant-title:hover {
  position: relative;
  top: 3px;
  padding: 5px;
  border-radius: 15px;
  background-color: #CDDAD1;
  border-color: #94A99B;
  box-shadow: 0 3px #7F9586;
  transition: 0s !important;
  z-index:1 !important;
}

#portfolio--image {
  border-radius: 150px;
}

#contact--image {
  border-radius: 200px;
} 

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

li.slick-active button {
	background-color: #4d0000;
}

button {
	display: block;
	width: 1rem;
	height: 1rem;
	padding: 0;
	border: none;
	border-radius: 100%;
	background-color: #d9d9d9;
	text-indent: -9999px;
}

li {
	margin: 0 0.25rem;
}


.title-outer-container {
  background: transparent;
  border-style: solid;
  border-width: 20px 20px 20px 20px; 
  border-color: black;
  border-radius: 40px;
  padding: 0px;
  margin-top: 20px;
}

.title-inner-container {
  background: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 5px; 
  border-color: black;
  border-radius: 15px;
  padding: 0px;
}

#projects--text-header, #credentials--text-header, #contact--text-header, #artwork--text-header{
  margin: 5px;
  border-style: solid;
  border-width: 6px; 
  border-color: #350000;
  border-radius: 10px;
  padding: 5px;
}