{% extends 'base.html' %}
{% load static %}


<!-- head -->
{% block head %}

<script src="{% static '/js/portfolio.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static '/css/portfolio.css' %}" />

{% endblock %}


<!-- body: -->
{% block body %}

<!-- projects -->
<div id='projects' class='row'>
  
  <!-- left column container -->
  <div id='projects--left-column-container' class='left-column-container'>
  
    <!-- left column -->
    <div id='projects--image' class='column'>
      <div id='portfolio--image-container' class='subcolumn'>
        <div id='portfolio--image-inner'>
          <img id='portfolio--image' src="{% static '/portfolio.jpg' %}" alt="portfolio">
        </div>
      </div>
    <div id='projects--intelsat' class='subcolumn'>
      <h3>
        <a id='projects--intelsat-title' class='external_link' href='http://intelsat.com/'> Intelsat </a>
      </h3>
      <ul> Mission: Deliver connectivity solutions to our many customers </ul>
      <p> Intelsat is a world leader in satellite communication and offers a variety of solutions for connecting phone, internet, and television via satellite. Verticals include, but are no limited to,  customers that necessarily need to communicate over satellite like maritime and aero services.  </p>
      <p> I joined Intelsat right out of school after graduating bachelor’s in aerospace engineering. After my first few months of training I quickly started applying my software skills. I developed web applications that were used by internal teams to manage tasks like onboarding new customers and analyzing radio frequency spectrum for noise.  </p>
      <p> It was here that I found my passion for software engineering and decided to pursue a master’s in the field. Taking classes after work, I eventually graduated in May 2019. </p>
      <p> During this time, I had been moved to a new position at Intelsat to a team that managed one of the company’s newer products. Tens of thousands of customers were using this product, but the infrastructure to manage it was completely absent. What we did have was a lot of data, and it was my job to collect, clean, analyze, transform, and present the data to both technical and business teams.  </p>
      <p> Often it felt like we were just digging ditches to prevent a wildfire from spreading. There were a lot of problems, some larger than other. The ones that I enjoyed the most were those that other engineers said could not be solved. </p>
    </div>
    
    </div>
  </div>
  
  <!-- right column container -->
  <div id='projects--right-column-container' class='right-column-container'>
    
   <!-- right column -->
    <div id='projects--text' class='column'>

      <div id='projects--title-container-outer' class='title-outer-container'>
        <div id='projects--title-container-inner' class='title-inner-container'>
          <h1 id='projects--text-header' class='text-section-header'> Engineering </h1>
        </div>
      </div>

      <div id='projects--icardio' class='subcolumn'>
        <h3>
          <a id='projects--icardio-title' class='external_link' href='https://icardio.ai/'> iCardio.ai </a>
        </h3>
        <ul> Mission: Leverage artificial intelligence to automate echocardiograms analysis </ul> 
        <p> When I first joined iCardio.ai the team consisted of a few data scientists, business analysts, and cardiologists. The goal was to launch a cloud based platform where medical practitioners could upload echocardiograms from anywhere in the world and get back an analysis in an instant. While eager and enthusiastic, iCardio.ai had nothing more than a mostly unorganized collection of data and a handful of poorly performing, prototype models. There was a lot of work to do. </p>
        <p> The first step we took was to move all the data from were it lived on a small, personal server to the cloud. The data scientists had previously done some training of their larger models on AWS so we decided to stick with AWS as our platform. During this process we designed a database schema and organized our data for future use. </p>
        <p> Next, we knew it would take several weeks to procure some of the information we deemed critical for one of our models so we quickly developed and deployed a labeler app. This way new datapoints would be coming into our cloud platform while we developed the remaining technology. Once deployed, we enlisted the help of technical experts who could log into our platform and provide us with the information we needed. We determined a few different metrics to track and added these to our database. </p>
        <p> The final step was to design, build, and release the cloud platform for our users. We wanted to modularize this application by separating the AI aspect (predicting on unseen data) from the web application itself (portal for users to log in, upload files, and view results). In this way the data scientists could continue to produce new versions of the models as new data came in and then easily replace older versions without interfering with the web application. There, of course, were many hitches along the way including integration issues and lengthy processing times, but we were able to overcome all of these in the latest version. </p>
        <p> Today, users can log onto our platform from anywhere in the world, upload an echocardiogram (typically a set of about 40 videos) and retrieve a result in seconds. </p>
      </div>
    
      <div id='projects--airplant' class='subcolumn'>
        <h3>
          <a id='projects--airplant-title' class='external_link' href='https://airplant.garden/'> Airplant Gardens </a>
        </h3>
        <ul> Mission: Subscription service for hand grown, locally sourced, ornimental airplants </ul>
        <p> The idea behind Airplant Gardens was to build an online platform for a subscription-based business. We wanted to develop an application that could easily be used for any subscription business, not just airplants. This way the team could focus on more vital aspects of the business, like procuring partners and launching advertisement campaigns, without having to regularly engineer new platforms. </p>
        <p> We decided to stick with AWS as our cloud provider and Django as our web framework. Django made it easy to add, remove, and edit different software components based on the product each business would offer. Furthermore, with Django we were able to seamlessly attach a Postgres database to manage customer and product information as well as integrate Braintree as our banking partner. Finally, we leveraged the Django admin portal for a clean, quick way to manage users, products, and coupons. </p>
        <p> Presently, Airplant Gardens is finalizing agreements with its partners and preparing an advertisement campaign. In the meantime the web application is live and ready for traffic. </p>
      </div>
    </div>
  </div>
</div>


<!-- artwork -->
<div id='artwork' class='row'>
  
  <!-- row container -->
  <div id='artwork--container'>
    
    <!-- left column -->
    <div id='artwork--text' class='column'>
      <h1 id='artwork--text-header' class='text-section-header'> Artwork </h1>
      <p> On my spare time I enjoy painting. </p>
      <p> Some of the colors are skewed due to my colorblindness. </p>
    </div>
    
    <!-- right column -->
    <div id='artwork--image' class='column'>
      <div class='artwork--image--inner-1'>
        <img src="{% static '/venice.jpg' %}" class='artwork--image--inner-2' alt="venice">
      </div>
      <div class='artwork--image--inner-1'>
        <img src="{% static '/lighthouse.jpg' %}" class='artwork--image--inner-2' alt="lighthouse">
      </div>
      <div class='artwork--image--inner-1'>
        <img src="{% static '/sailboat.jpg' %}" class='artwork--image--inner-2' alt="sailboat">
      </div>
      <div class='artwork--image--inner-1'>
        <img src="{% static '/industry.jpg' %}" class='artwork--image--inner-2' alt="industry">
      </div>
      <div class='artwork--image--inner-1'>
        <img src="{% static '/desert.jpg' %}" class='artwork--image--inner-2' alt="desert">
      </div>
    </div>
  </div>
</div>


<!-- contact information -->
<div id='contact' class='row'>
  
  <!-- left column container -->
  <div id='contact--left-column-container' class='left-column-container'>
  
    <!-- left column -->
    <div id='credentials--text' class='column'>
      
      <div id='credentials--title-container-outer' class='title-outer-container'>
        <div id='credentials--title-container-inner' class='title-inner-container'>
          <h1 id='credentials--text-header' class='text-section-header'> Education </h1>
        </div>
      </div>
      
      <div id='credentials--details' class='subcolumn'>
        <ul> Masters of Engineering - Software Engineering  - University of Maryland College Park - May 2019 </ul>
        <ul> Bachelors of Science   - Aerospace Engineering - University of Maryland College Park - May 2016 </ul>
      </div>
    </div>
  </div>
  
  <!-- right column container -->
  <div id='contact--right-column-container' class='right-column-container'>
  
    <!-- right column -->
    <div id='contact--text' class='column'>
      
      <div id='contact--title-container-outer' class='title-outer-container'>
        <div id='contact--title-container-inner' class='title-inner-container'>
          <h1 id='contact--text-header' class='text-section-header'> Contact </h1>
        </div>
      </div>
      
      <div id='contact--details' class='subcolumn'>
        <ul id='contact--text-line-2'> Email: <a class='external_link' href='mailto:messageme@danielbsokol.engineer?Subject=Hey%20Daniel'> messageme@danielbsokol.engineer </a></a></ul>
        <ul id='contact--text-line-3'> GitHub: <a class='external_link' href='https://github.com/dbsokol'> github@danielbsokol.engineer </a> </ul>
        <ul id='contact--text-line-4'> StackOverflow: <a class='external_link' href='https://stackoverflow.com/users/12821675/daniel'> stackoverflow@danielbsokol.engineer </a> </ul>
        <ul id='contact--text-line-5'> Location: <a class='external_link' href='https://www.google.com/maps/place/Culver+City,+CA/@34.0058945,-118.444044,13z/data=!3m1!4b1!4m5!3m4!1s0x80c2ba1edb77739d:0x3185e9d14beb59fe!8m2!3d34.0211224!4d-118.3964665'> Culver City, CA </a></ul>
      </div>
    </div>
  </div>
</div>



<footer>
  <div id='navbar' >
    <a class='navbar--link' href='#projects'> Engineering </a> 
    <a class='navbar--link' href='#artwork'> Artwork </a>
    <a class='navbar--link' href='#contact'> Education </a>
    <a class='navbar--link' href='#contact'> Contact </a>
    <a class='navbar--link' href='https://danielbsokol.engineer/visitors'> Visitors </a>
  </div>
</footer>

{% endblock %}